<header>
	<h1>My Parties</h1>
</header>
<div id="indexcontainer">
	<% @parties.each do |party| %>
	<ul>
		<li><%= party.name %></li>
		<li><%= party.date %></li>
		<li><% if party.host %>
					Hosted by: <%= party.host.email %>	
					<% end %></li>
		<li><%= button_to "X", {action: "destroy", id: party.id}, {method: :delete, data:{confirm: "Are you sure?"}, :class => "button"} %> Remove Party</li>
			<% party.attendee.each do |a| %> <!--for each attendee called a, list below -->
			Attending:<ul>
				<li><%= a.rsvp %></li>
				<li><%= a.host.email %></li>
						
			</ul>
		<% end %>	
	</ul>
	<% end %>
</div>
