<header>
	<h1>Enter a new party</h1>
</header>

<div id="newcontainer">
	<%= form_for @party do |party| %>
<p>
	<%= party.label :name, "Name" %>
	<%= party.text_field :name%>
</p>

<p>
	<%= party.label :date, "Party Date"%>
	<%=party.text_field :date%>
</p>

<p>
	<%= party.label :email, "User Email" %>
	<%=party.hidden_field :email, value: current_user.email %>
</p>
<%= party.hidden_field :userid, value: session[:user_id] %>
<p>
<%= party.submit %> 
</p>

<%end%>

</div>