<h2>Let's plan <%=@party.name %></h2>

<h4>General Info</h4>
<p>
Party Name: <%= @party.name %> </br>
Party Date: <%= @party.date %> </br>
Party Location: <%= @party.location %> </br>
Host's Email: <%= @party.email %> </br>
Guest List: <%= @party.guest_list %> </br>
</p>
