<h2>Let's plan <%=@party.name %></h2>

<h3>General Info</h3>
<p>
Party Name: <%= @party.name %> </br>
Party Date: <%= @party.date %> </br>
Party Location: <%= @party.location %> </br>
Host's Email: <%= @party.email %> </br>
Guest List: <%= @party.guest_list %> </br>
</p>

<h4>Attendees:</h4>

<% @party.attendees.each do |a| %>
	<li><%= a.name %> : 
	<%= a.email %></li>
	<% end %>
<%= button_to "Add Guests", new_attendee_url(@party),
	controller: :attendees, action: :new, method: :get %>

<h4>Items:</h4>

<% @party.items.each do |i| %>
<li><%= i.food_type %> : <%= i.food_name %> 	(<%= i.attendee.name %>)</li>

	<% end %>
<%= button_to "Add Item", new_item_url(@party.id), controller: :items, action: :create, method: :get %>
