<header>
	<h1>Log In</h1>
</header>

<div id="container">

<%= form_for @user, url:"/authentications" do |user| %>
	<p>
		<%= user.label :name, "Name" %>
		<%= user.text_field :name %>
	</p>

	<p>
		<%= user.label :email, "E-mail" %>
		<%= user.text_field :email %>
	</p>

	<p>
		<%= user.label :password, "Password" %>
		<%= user.password_field :password %>
	</p>

	<p>
		<%= user.submit "Let's Party!" %> 
	</p>

	<% end %>

</div>
user id: <%= session[:user_id] %>