<header>
	<h1> Add Your Friends </h1>
</header>

<div id="newcontainer">
	<%= form_for @attendee do |attendee| %>
	<p>
		<%= attendee.label :name, "Guest Name" %>
		<%= attendee.text_field :name %>
	</p>

	<p>
		<%= attendee.label :email, "E-mail Address" %>
		<%= attendee.text_field :email %>
	</p>
		<%= attendee.hidden_field :party_id, value: params[:format] %>
	<p>
		<%= attendee.submit "Invite Guest" %>
	</p>

	<% end %>

<%= params %>
</div>